*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* header */
header{
    display: flex;
    margin: auto;
    width: 90%;
    height: 10vh;
    align-items: center;
}

.logo-container{
    flex: 1;
    display: flex;
}
.logo{
    font-weight:600;
    font-size: 60px;
    margin: 5px;
    background: linear-gradient(to right,#f65ecb, #FA508D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20px;
}

.logo-image{
    height: 60px;
    width: 60px;
    margin-top: 8px;

}

/* Main body */
.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.product{
    flex: 2;
}
.intro-text h1{
    font-size: 50px;
    font-weight: 500;
    background: linear-gradient(to right,#f65ecb, #FA508D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text h4{
    font-size: 30px;
    margin-top: 5px;
    color: #585772;
}
.iphone{
    flex: 1;
    height: 80vh;
}

/* image */
.iphone img{
    height: 100%;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5 ease;
}

/* buttons */
.cta-btn{
/* position: absolute; */
width: 200px;
height: 58.06px;
left: 626px;
top: 401px;
margin-top: 10px;
margin-right: 20px;
}

/* footer */
.footer{
    background:black;
    width: 100%;
    display: flex;
    align-items: center;
    height: 8vh;
    position: relative;
    margin-top: 20px;
    clear: both;


}
.footer-links{
    justify-content: space-around;
    list-style: none;
    display: flex;
}
.footer-link{
    color:white;
    font-size: 12px;
    text-decoration: none;
}

@keyframes drop {
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* for mobile */
@media screen and (max-width: 600px){
    .logo{
        font-size: 25px;
        display: inline;
    }
    .presentation{
        flex-direction: column;
    }
    .product{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 20px
    }
    .intro-text h4{
        font-size: 12px;
    }
    .cta{ 
        padding: 10px 0px 0px 0px;
    }

}